/************
GLOBAL STYLES
************/

html {
	background-color: #ecf1f4;
	font-family: 'Raleway', sans-serif;
}

body {
	margin: 0;
}

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.clear {
	float:none;
	margin: 0;
	clear:both;
}

.container {
	padding-left: 15px;
	padding-right: 15px;
	margin: 0 auto;
}

@media (min-width: 768px) {
	.container {
    	width: 750px;
	}

@media (min-width: 992px) {
	.container {
    	width: 970px;
	}
}
@media (min-width: 1200px) {
	.container {
    	width: 1170px;
	}
}

/****
MENU
****/

#menu {
	text-align: center;
	background-color: #2b2d42;
	width:100%; 
	position:fixed; 
	top:0; 
	left:0; 
	z-index:9999;
	height: 70px;
}

#menu ul {
	width:200px;
	position: absolute;
	top: 55px;
	right: 0px;
	background-color: #2b2d42;
	padding: 0;
	display: none;
}
			
#menu ul li {
	display: block;
}

#menu ul li a {
	text-decoration: none;
	color : #ecf1f4;
	font-size: 1.2em; 
	padding: 10px 0; 
	display: block;
}

#menu ul li a:hover {
	background-color: #484d6d;
	font-weight: bold;
}

#mobile {
	display:inline-block; 
	position:absolute; 
	top:15px; 
	right:20px;
	width: 30px;
	height :30px;
	padding:10px 0px 10px 10px; 
	background-image:url(../img/navburger.png); 
	background-repeat:no-repeat; 
	background-position:100% 10px; 
	cursor: pointer;
}


/***************
WORK SINGLE PAGE 
***************/

.video {
  width: 100%;
  height: auto;
}

.facebook-cover {
	max-width: 851px;
	height: 100%; 
}

/*
red #d80d2a
blue #2b2d42
white #ecf1f4
*/
