---
---
{% include header.html %}

    <!-- Banner -->
    <div class="banner" id="contact-banner">
        <div>
            <h1>CONTACT</h1>
        </div>
    </div>

    <div class="container" id="contact-page">
		<h2>Vous avez besoin de mes services ?<br>écrivez-moi !</h2>

		<form id="contact-form" accept-charset="UTF-8" method="POST">
			<input id="firstname" type="text" name="firstname" placeholder="Prénom"/>
			<input id="name" type="text" name="name" placeholder="Nom"/>
			<input id="email" type="text" name="email" placeholder="Email"/>
			<textarea id="message" name="message" placeholder="Message"></textarea>

			<!-- Hidden inputs -->
			<input type="hidden" name="_next" value="http://pierre-cazeaud.github.io/thanks.html" /> <!-- Setup redirect page -->
			<input type="hidden" name="_subject" value="Portfolio contact" /> <!-- Setup email subject -->

			<button type="submit" class="btn">ENVOYER</button>
		</form>

		<div id="form-thank-you">
			<p>Message envoyé !</p>
		</div>
    </div>

{% include footer.html %}









