---
---
{% include header.html %}

    <!-- Banner -->
    <div class="banner" id="contact-banner">
        <div>
            <h1>CONTACT</h1>
        </div>
    </div>

    <div id="contact-page">
		<h2>Vous avez besoin de mes services ?<br>écrivez-moi !</h2>

		<form accept-charset="UTF-8" action="http://www.formester.com/forms/ec6eb0a1-929d-457c-832a-ba7459331953/submissions" method="POST">
			<input type="text" name="firstname" placeholder="Prénom"/>
			<input type="text" name="name" placeholder="Nom"/>
			<input type="text" name="email" placeholder="Email"/>
			<textarea name="message" placeholder="Message"></textarea>
			<button type="submit" class="btn">ENVOYER</button>
		</form>
    </div>

{% include footer.html %}









