{% include header.html %}
    
        <!-- Banner -->
        <div class="banner" id="home-banner">
            <h1>Pierre Cazeaud</h1>
            <h2>Développeur web</h2>
            <p>Je développe des sites et applications web. J’aime le webdesign.<br>Pour moi, chaque projet est différent et est une nouvelle occasion d’apprendre.</p>
            <div class="arrow-nav">
                <span></span>
                <span></span>
            </div>
        </div>

    	<div class="container">
            <!-- My works -->
            <article class="main-block">
                <h2>Mes projets</h2>
                <p>Ci-dessous vous trouvez quelques uns de mes projets favoris mis en situation.</p>
                <img src="">
                <a href="" class="button">Voir tous les projets</a>
            </article>

            <!-- Contact -->
            <article class="main-block">
                <h2>Contact</h2>
                <p>Vous souhaitez me poser une question ?<br>Vous recherchez un stagiaire spécialisé dans le développement web ?</p>
                <a href="contact.html" class="button">Me contacter</a>
            </article>
        </div>

{% include footer.html %}
