---
---
{% include header.html %}

    <!-- Banner -->
    <div id="home-banner">
        <div class="banner-content">
            <h1>Développeur front-end</h1>
            <h2>Je développe des sites et applications web.</h2>
        </div>
        
        <div id="arrow-nav">
            <span></span>
            <span></span>
        </div>
    </div>

	<div class="container" id="home-page">
        <!-- My works -->
        <article class="main-block" id="my-works">
            <h2 class="main-block-title">Mes projets</h2>
            <p class="main-block-subtitle">Ci-dessous vous trouverez quelques uns de mes projets favoris mis en situation.</p>
    
            <!-- Swiper -->
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <picture>
                            <source srcset="img/slider-peexeo-md.jpg" media="(min-width: 769px)">
                            <source srcset="img/slider-peexeo-sm.jpg" media="(min-width: 482px)">
                            <img src="img/slider-peexeo.jpg" alt="Peexeo formations - Aperçu du projet">
                        </picture>
                    </div>
                    <div class="swiper-slide">
                        <picture>
                            <source srcset="img/slider-denis_pommier-md.jpg" media="(min-width: 769px)">
                            <source srcset="img/slider-denis_pommier-sm.jpg" media="(min-width: 482px)">
                            <img src="img/slider-denis_pommier.jpg" alt="Denis Pommier - Aperçu du projet">
                        </picture>
                    </div>
                    <div class="swiper-slide">
                        <picture>
                            <source srcset="img/slider-caroline-md.jpg" media="(min-width: 769px)">
                            <source srcset="img/slider-caroline-sm.jpg" media="(min-width: 482px)">
                            <img src="img/slider-caroline.jpg" alt="Caroline Cazeaud - Aperçu du projet">
                        </picture>
                    </div>
                </div>
            </div>
            <a href="work.html" class="btn">Voir tous les projets</a>
        </article>
    </div>

    <!-- Contact -->
    <article class="main-block" id="contact">
        <h3>Vous recherchez un développeur front-end ?</h3>
        <a href="contact.html" class="btn btn-white">Me contacter</a>
    </article>

   

{% include footer.html %}


<!-- Initialize Swiper -->
    <script>
     var swiper = new Swiper('.swiper-container', {
        pagination: '.swiper-pagination',
        paginationClickable: true,
        autoplay: 4000,
        autoHeight: true,
    });
    </script>

