{% include header.html %}

    <!-- Banner -->
    <div class="banner" id="work-banner">
        <h1>MES PROJETS</h1>
    </div>

    <div class="container" id="my-works">
        <article class="work-block" id="peexeo">
            <a href="peexeo.html">
            <div class="work-block-hovered">
                <h3>Peexeo Formations</h3>
                <span></span>
                <h3>Développement web</h3>
            </div>
        </article>

        <article class="work-block" id="insa">
            <a href="insa.html">
            <div class="work-block-hovered">
                <h3>INSA</h3>
                <span></span>
                <h3>Création graphique en binôme</h3>
            </div>
        </article>
    </div> <!-- !Container -->

---
---
{% include footer.html %}
