{% include header.html %}

    <!-- Banner -->
    <div class="banner" id="works-banner">
        <h1>MES PROJETS</h1>
    </div>

    <div class="container" id="works-page">

        <!-- Peexeo -->
        <article class="work-block" id="peexeo">
            <a href="peexeo.php">
                <img src="img/work-peexeo-preview.jpg" alt="Développement de site web pour l'agence Peexeo (Lyon)">
            
                <div class="work-block-info">
                    <h3>Peexeo Formations</h3>
                    <span></span>
                    <h3>Développement web</h3>
                </div>
            </a>
        </article>


        <!-- Denis Pommier -->
        <article class="work-block" id="denis-pommier">
            <a href="denis-pommier.php"> 
                <img src="img/work-denis_pommier-preview.jpg" alt="Développement et design de site web pour Denis Pommier">
            
                <div class="work-block-info">
                    <h3>DENIS POMMIER</h3>
                    <span></span>
                    <h3>Développement web & webdesign</h3>
                </div>
            </a>
        </article>


        <!-- Com'Justine blog -->
        <article class="work-block" id="cj-blog">
            <a href="comjustine-blog.php"> 
                <img src="img/work-cj_blog-preview.jpg" alt="Développement et design du blog de l'agence Com'Justine">
            
                <div class="work-block-info">
                    <h3>Com'Justine</h3>
                    <span></span>
                    <h3>Développement web & webdesign</h3>
                </div>
            </a>
        </article>


        <!-- BIC -->
        <article class="work-block work-block-square" id="bic">
            <a href="bic.php"> 
                <picture>
                    <source srcset="img/work-bic-preview-square.jpg" media="(min-width: 768px)">
                    <img srcset="img/work-bic-preview.jpg" alt="Projet vidéo BIC">
                </picture>
            
                <div class="work-block-info">
                    <h3>BIC</h3>
                    <span></span>
                    <h3>Création d'un spot publicitaire</h3>
                </div>
            </a>
        </article>


        <!-- INSA -->
        <article class="work-block work-block-square" id="insa">
            <a href="insa.php"> 
                <picture>
                    <source srcset="img/work-insa-preview-square.jpg" media="(min-width: 768px)">
                    <img srcset="img/work-insa-preview.jpg" alt="Identité visuelle pour l'INSA">
                </picture>    
            
                <div class="work-block-info">
                    <h3>INSA</h3>
                    <span></span>
                    <h3>Création graphique en binôme</h3>
                </div>
            </a>
        </article>


        <!-- Com'Justine calendrier -->
        <article class="work-block work-block-square" id="cj-calendar">
            <a href="comjustine-calendar.php"> 
                <picture>
                    <source srcset="img/work-cj_calendar-preview-square.jpg" media="(min-width: 768px)">
                    <img srcset="img/work-cj_calendar-preview.jpg" alt="Identité visuelle pour l'INSA">
                </picture>    
            
                <div class="work-block-info">
                    <h3>Com'Justine</h3>
                    <span></span>
                    <h3>Création graphique</h3>
                </div>
            </a>
        </article>

        <!-- Starbucks -->
        <article class="work-block work-block" id="starbucks">
            <a href="starbucks.php"> 
                <img src="img/work-starbucks-preview.jpg" alt="Projet vidéo Starbucks">

                <div class="work-block-info">
                    <h3>Starbucks</h3>
                    <span></span>
                    <h3>Création d'un spot publicitaire</h3>
                </div>
            </a>
        </article>

        <!-- Europa Cantat Junior -->
        <article class="work-block work-block-square" id="europa-cantat">
            <a href="europa-cantat.php"> 
                <picture>
                    <source srcset="img/work-europa_cantat-preview-square.jpg" media="(min-width: 768px)">
                    <img srcset="img/work-europa_cantat-preview.jpg" alt="Identité visuelle pour Europa Cantat">
                </picture>    
            
                <div class="work-block-info">
                    <h3>Europa Cantat Junior</h3>
                    <span></span>
                    <h3>Création d'une identité visuelle</h3>
                </div>
            </a>
        </article>
    </div> <!-- !Container -->

{% include footer.html %}