/******
Banners
******/
.banner {
	position: relative;
	text-align: center;
	margin-top: 40px;
	height: 200px;
	margin-bottom: 50px;

	div {
		position: absolute;
		display: block;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%) skewX(-30deg);
		width: 230px;
		height: 80px;
		background: rgba(216, 13, 42, 0.7);

		h1 {
			position: absolute;
			top: 50%;
			left: 50%;
			margin: 0;
			transform: translate(-50%, -50%) skewX(30deg);
			width: 100%;
			color: $white;
		}
	}
}

// Banners on desktop
@media (min-width: 769px) {
	.banner {
		margin-top: 0;
		height: 250px;

		div {
			width: 350px;
		}
	}
}


/***********
Home banner
***********/
#home-banner {
	background: url(../img/banner-home-sm.jpg) center center/cover no-repeat;
	height: 100vh;
	text-align: center;

	.banner-content {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		width: 100%;
		padding: 0 20px;

		* {
			color: $purple;
		}

		h1 {
			font-weight: 900;
			margin: 0px 0 10px;
		}

		h2 {
			font-size: 1em;
		}

		.banner-letters, .banner-letters-2 {
			display: none;
		}

		#banner-cursor {
			position: relative;
			display: inline-block;
			height: 14px;
			width: 1px;
			left: -2px;
			margin-right: 2px;
			background: black;
			opacity: 0;
		}
	}

	#arrow-nav {
		position: absolute;
		display: block;
		width: 50px;
		height: 50px;
		left: 50%;
		transform: translateX(-50%);
		bottom: 0;
		cursor: pointer;

		span {
			background: #2b2d42;
			display: block;
			position: absolute;
			bottom: 20px;
			width: 24px;
			height: 2px;
		}

		span:first-of-type {
			transform: translateX(-50%) rotate(45deg);
			left: calc(50% - 8px);
		}

		span:last-of-type {
			transform: translateX(-50%) rotate(-45deg);
			left: calc(50% + 8px);
		}
	}
}

@media (min-width: 769px) { 
	#home-banner {
		background: url(../img/banner-home-lg.jpg) center center/cover no-repeat;

		.banner-content {
			h1 {
				font-size: 3em;
			}

			h2 {
				font-size: 1.2em;
			}
		}
	}
}


/***********
Works banner
***********/
#works-banner {
	background: url(../img/banner-works-sm.jpg) center center/cover no-repeat;
	@media (min-width: 769px) { background: url(../img/banner-works-md.jpg) center center/cover no-repeat; }
	@media (min-width: 1200px) { background: url(../img/banner-works-lg.jpg) center center/cover no-repeat; }
}

/***********
Contact banner
***********/
#contact-banner {
	background: url(../img/banner-works-sm.jpg) center center/cover no-repeat;
	@media (min-width: 769px) { background: url(../img/banner-works-md.jpg) center center/cover no-repeat; }
	@media (min-width: 1200px) { background: url(../img/banner-works-lg.jpg) center center/cover no-repeat; }
}



	
