/******
Banners
******/
.banner {
	position: relative;
	text-align: center;
	margin-top: 40px;
	height: 200px;
	margin-bottom: 50px;
}

// Banners on desktop
@media (min-width: 769px) {
	.banner {
		margin-top: 0;
		height: 250px;
	}
}


/***********
Home banner
***********/
#home-banner {
	background: url(../img/banner-home-sm.jpg) center center/cover no-repeat;
	height: 100vh;

	.banner-content {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);

		* {
			color: $purple;
		}

		h1 {
			font-weight: 900;
			margin: 0px 0 10px;
		}

		h2 {
			font-size: 1em;
		}
	}
}

@media (min-width: 769px) { 
	#home-banner {
		background: url(../img/banner-home-lg.jpg) center center/cover no-repeat;

		.banner-content {
			h1 {
				font-size: 3em;
			}

			h2 {
				font-size: 1.2em;
			}
		}
	}
}


/***********
Works banner
***********/
#works-banner {
	background: url(../img/banner-works-sm.jpg) center center/cover no-repeat;
	
	div {
		position: absolute;
		display: block;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%) skewX(-30deg);
		width: 350px;
		height: 80px;
		background: rgba(216, 13, 42, 0.7);

		h1 {
			position: absolute;
			top: 50%;
			left: 50%;
			margin: 0;
			transform: translate(-50%, -50%) skewX(30deg);
			width: 100%;
			color: $white;
		}
	}
}


@media (min-width: 769px) {
	#works-banner {
		background: url(../img/banner-works-md.jpg) center center/cover no-repeat;
	}
}
	
@media (min-width: 1200px) {
	#works-banner {
		background: url(../img/banner-works-lg.jpg) center center/cover no-repeat;
	}
}
	
