/********************************************
				GLOBAL STYLES
********************************************/

html {
	font-family: 'Raleway', sans-serif;
}

body {
	margin: 0;
}

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.clear {
	float:none;
	margin: 0;
	clear:both;
}

img {
	display: block;
	width: 100%;
	height: auto;
}

a {
	outline: 0;
}


/**************
Textual content
**************/

h1, h2, h3 {
	text-transform: uppercase;
	color: $white;
	font-weight: 700;
}

p {
	font-size: 0.8em;
	@media (min-width: 769px) { font-size: 1em;	}
}

	

/******************
Container & blocks
*******************/

.container {
	padding-left: 15px;
	padding-right: 15px;
	margin: 0 auto;
	text-align: center;
}

	@media (min-width: 768px) {
		.container {
	    	width: 750px;
		}
	}

	@media (min-width: 992px) {
		.container {
	    	width: 970px;
		}
	}

	@media (min-width: 1200px) {
		.container {
	    	width: 1170px;
		}
	}


.main-block {
	margin: 20px 0;
}

	.main-block-title {
		margin: 0 0 5px;
	}

	.main-block-subtitle {
		margin: 0;
	}



/******
Buttons
*******/

.btn {
	text-transform: uppercase;
	text-decoration: none;
	font-weight: 700;
	color: $purple;
	border: 2px solid $purple;
	padding: 10px 20px;

	&:hover, &:focus {
		background-color: $purple;
		color: $white;
		transition: 0.2s ease-in-out;
	}
}

	.btn-white {
		color: $white;
		border: 2px solid $white;

		&:hover, &:focus {
			background-color: $white;
			color: $purple;
		}
	}


/*****
Footer
******/

footer {
	background: $purple;
    height: auto;
    padding: 15px 0;
	text-align: center;
    color: white;

    p {
    	font-size: 13px;
		margin: 0 0 10px;
    }

    a {
		position: relative;
		display: block;
		background: lighten($purple, 20%);
		width: 30px;
		height: 30px;
		margin: 0 auto;
		border-radius: 50%;

    	svg {
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			width: 22px;
			height: auto;
    	}
    }
}


/********************************************
				PAGES STYLES
********************************************/

/********
Home page
********/
#home-page {
	#my-works {
		position: relative;
		margin: 40px 0 60px;

		.swiper-container {
			width: 100%;
			margin: 20px 0 40px;
		}
		.swiper-slide {
			background-position: center;
			background-size: cover;
		}

		.main-block-title {
			color: $purple;
		}

		img {
			margin: 30px 0 40px;
		}
	}
}

#contact {
	background: url(../img/banner-home-contact-sm.jpg) center center no-repeat;
	background-size: cover;
	width: 100%;
	padding: 20px 15px 30px;
	margin-bottom: -20px;
	text-align: center;

	.main-block-subtitle {
		color: $white;
		margin-bottom: 30px;
	}
}

@media (min-width: 769px) {
	#my-works {
	    min-height: 640px;

	    .btn {
			position: absolute;
			bottom: 0;
			left: 50%;
			transform: translateX(-50%);
		}
	}

	#contact {
		background: url(../img/banner-home-contact-lg.jpg) center center no-repeat;
		height: 300px;
		padding: 70px 15px 30px;

		.main-block-subtitle {
			margin-bottom: 50px;
		}
	}
}

@media (min-width: 992px) {
	#my-works {
		min-height: 765px;
	}
}

@media (min-width: 1200px) {
	#my-works {
		min-height: 890px;
	}
}

		


/*****************
Works page
*****************/
#works-page {
	.work-block {
		-webkit-box-shadow: -5px 5px 12px 0px rgba(0,0,0,0.16);
		-moz-box-shadow: -5px 5px 12px 0px rgba(0,0,0,0.16);
		box-shadow: -5px 5px 12px 0px rgba(0,0,0,0.16);
		margin-bottom: 40px;
		position: relative;
	}

	.work-block-info {
		position: absolute;
		background-color: rgba(255, 255, 255, 0.6);
		bottom: 0;
		width: 100%;
		padding: 10px;

		h3 {
			color: $purple;
			margin: 0;

			&:last-child {
				text-transform: none;
				font-weight: 300;
			    font-size: 1em;
			}
		}

		span {
			display: block;
			background-color: $purple;
			height: 1px;
			margin: 5px auto;
			width: 100px;
		}
	}
}


// Changes works présentation to a grid with multiple blocks in a row
@media (min-width: 768px) {
	#works-page {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;

		.work-block {
			width: 48%;
			margin-bottom: 30px;
		}

		.work-block-square {
			width: 24%;
		}
	}
}

// Displays work's info on hover
@media (min-width: 769px) {
	#works-page {
		.work-block-info {
			background-color: rgba(0, 0, 0, 0.6);
			height: 100%;
			padding: 0;
			display: flex;
			flex-direction: column;
			justify-content: center;
			opacity: 0;
			transition: 0.2s ease-in-out;

			h3 {
				color: $white;
				
				&:last-child {
					text-transform: uppercase;
					font-size: 0.9em;
				}
			}

			span {
				background-color: $white;
				margin: 8px auto;
				width: 60%;
			}

			h3, span {
				position: relative;
				top: 10px;
				transition: 0.2s ease-in-out;
			}

			&:hover, &:focus {
				opacity: 1;
				transition: 0.2s ease-in-out;

				h3, span {
					top: 0;
					transition: 0.2s ease-in-out;
				}
			}
		}
	}
}

/*****************
Work single pages
*****************/

.single-work {
	header {
		margin: 70px auto 30px;

		h1, p {
			color: $purple;
		}
	
		h1 {
			text-transform: none;
			margin: 0;
    		font-weight: 400;
		}

		small {
			font-size: 0.6em;
		}

		p {
			padding: 0 10%;
		}		
	}

	.single-work-presentation {
		margin-bottom: 80px;

		img {
			margin-bottom: 40px;
		}
	}

	.single-work-ressources {
		h2 {
			color: $purple;
			font-size: 1.3em;
		    margin-bottom: 30px;
		}
		
		.ressources-logo {
			display: flex;
			flex-direction: column;
			align-items: center;

			svg {
				width: 100px;
				height: auto;
				margin: 0 50px 30px;
			}
		}
	}
}

@media (min-width: 769px) {
	.single-work {
		header {
		    margin: 200px auto 30px;

		    h1 {
		    	font-size: 3em;
		    }
		}

		.single-work-ressources {
			h2 {
				font-size: 1.5em;
			}

			.ressources-logo {
				flex-direction: row;
				justify-content: center;
			}
		}
	}
}

.video {
  width: 100%;
  height: auto;
}

.facebook-cover {
	max-width: 851px;
	height: 100%; 
}


.devicon-git-plain {
  max-width: 2em;
}

/* if you want to change the original color */
.devicon-git-plain path {
  fill: #4691f6;
}


/*****************
Contact page
*****************/
#contact-page {
	margin-bottom: 50px;
	text-align: center;

	form {
		display: flex;
		flex-flow: row wrap;
		padding: 20px;

		::-webkit-input-placeholder {
			color: $purple;
			opacity: 1 !important;
		}

		input, textarea {
			width: 100%;
			color: $purple;
			font-family: 'Raleway', sans-serif;
			background: none;
			border: 0;
			border: 2px solid $purple;
			margin-bottom: 20px;
			padding: 15px;
		}

		input[type="text"] {
			&:first-child {
				width: calc(50% - 10px);
				margin-right: 10px;
			}

			&:nth-child(2) {
				width: calc(50% - 10px);
				margin-left: 10px;
			}
		}

		textarea {
			min-height: 120px;
		}

		.btn {
			font-family: 'Raleway', sans-serif;
			margin: 0 auto;
			background-color: transparent;
			cursor: pointer;

			&:hover, &:focus {
				background-color: $purple;
				color: $white;
				transition: 0.2s ease-in-out;
			}
		}
	}


	@media (min-width: 769px) {
		form {
			max-width: 1170px;
			margin: 0 auto;

			input[type="text"] {
				&:first-child {
					width: calc(50% - 20px);
					margin-right: 20px;
				}

				&:nth-child(2) {
					width: calc(50% - 20px);
					margin-left: 20px;
				}
			}

			textarea {
				min-height: 400px;
			}
		}
	}
}

